body {
    /* Grid */
    --grid-columns: 12;
    --grid-gutter: 15px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    --width: var(--grid-columns);
    padding: 0 var(--grid-gutter);
    --calc-width: calc((var(--width) / var(--grid-columns) * 100%));
    flex-basis: var(--calc-width);
    max-width: var(--calc-width);
    box-sizing: border-box;
}

.xs12 { --width: 12; }
.xs11 { --width: 11; }
.xs10 { --width: 10; }
.xs9 { --width: 9; }
.xs8 { --width: 8; }
.xs7 { --width: 7; }
.xs6 { --width: 6; }
.xs5 { --width: 5; }
.xs4 { --width: 4; }
.xs3 { --width: 3; }
.xs2 { --width: 2; }
.xs1 { --width: 1; }

.sm { display: none; }
.md { display: none; }
.lg { display: none; }
.xl { display: none; }

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .sm12 { --width: 12; }
    .sm11 { --width: 11; }
    .sm10 { --width: 10; }
    .sm9 { --width: 9; }
    .sm8 { --width: 8; }
    .sm7 { --width: 7; }
    .sm6 { --width: 6; }
    .sm5 { --width: 5; }
    .sm4 { --width: 4; }
    .sm3 { --width: 3; }
    .sm2 { --width: 2; }
    .sm1 { --width: 1; }
    .sm0 { display: none; }
    .sm { display: initial; }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .md12 { --width: 12; }
    .md11 { --width: 11; }
    .md10 { --width: 10; }
    .md9 { --width: 9; }
    .md8 { --width: 8; }
    .md7 { --width: 7; }
    .md6 { --width: 6; }
    .md5 { --width: 5; }
    .md4 { --width: 4; }
    .md3 { --width: 3; }
    .md2 { --width: 2; }
    .md1 { --width: 1; }
    .md0 { display: none; }
    .md { display: initial; }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .lg12 { --width: 12;  }
    .lg11 { --width: 11; }
    .lg10 { --width: 10; }
    .lg9 { --width: 9; }
    .lg8 { --width: 8; }
    .lg7 { --width: 7; }
    .lg6 { --width: 6; }
    .lg5 { --width: 5; }
    .lg4 { --width: 4; }
    .lg3 { --width: 3; }
    .lg2 { --width: 2; }
    .lg1 { --width: 1; }
    .lg0 { display: none; }
    .lg { display: initial; }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .xl12 { --width: 12; }
    .xl11 { --width: 11; }
    .xl10 { --width: 10; }
    .xl9 { --width: 9; }
    .xl8 { --width: 8; }
    .xl7 { --width: 7; }
    .xl6 { --width: 6; }
    .xl5 { --width: 5; }
    .xl4 { --width: 4; }
    .xl3 { --width: 3; }
    .xl2 { --width: 2; }
    .xl1 { --width: 1; }
    .xl0 { display: none; }
    .xl { display: initial; }
}